.bestSellerCard{
    width: 200px;
    height: 220px;
    margin-left:4px;
    margin-right: 4px;
    border-radius: 7px;
}
.bestSellerCard:hover{
    scale: 1.05;
}

.bestSellerCard img{
    width: 182px;
    height: 118px;
    margin-top: 14px;
    margin-bottom: 15px;
}
.bestSellerCards{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.productTitle{
    margin-top: 15px;
    margin-left: 13px;
}
.productPrice{
    margin-top: 10px;
    margin-left: 13px;
}
.react-multiple-carousel__arrow{
    height: 70px;
    border-radius: 7px !important;
    top: 60px;
}
.react-multiple-carousel__arrow:hover{
    height: 70px;
    border-radius: 7px !important;
    background-color:rgb(255,255,255,0.5) !important;
}
.react-multiple-carousel__arrow::before{
    color: rgb(255, 255, 255,0.3)!important;
    font-weight:900;
    font-size: 25px!important;
}
.react-multiple-carousel__arrow:hover::before{
    color: black!important;
    font-weight:900;
    font-size: 25px!important;
}
.bestSellerTitle{
    margin-bottom: 40px;
    margin-left:37px;
}