.Cards{
    height: 340px;
    width: 300px;
    background-color: white;
    border-radius: 7px;
}
.CardImg{
    width: 270px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.cardTitle{
    font-size: 20px;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 20px;
    font-family: "roboto slab";
    font-weight: 550;
}
.shop{
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    font-family: "roboto slab";
}