.CartDetails{
    width: 830px;
    height: fit-content;
    background-color: #f8f8f8;
    margin-left: 90px;
    margin-right: auto;
    padding-top: 20px;
}
/* .CartDetails :last-child{
    margin-bottom:12px;
} */
.CartDetails div img{
    width: 120px;
    height: 70px;
}
.CartProductTitle{
    width: 257px;
}
#selectedProduct{
    width:15px;
    height:15px;
}
.orderSummaryColumn{
    margin-right: 75px;
    background-color: #f8f8f8;
    width: 400px;
    padding: 20px;
    height:290px;
}
.orderSummaryCartTitle{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 17px;
}
.cartDivider{
    border: 1px solid black;
}
.cartCheckout{
    background-color: #F28C28;
    border: none;
    height: 37px;
    display: flex;
    margin-left: auto;
    width: 160px;
    padding-left: 14px;
    padding-top: 5px;
}
.cartTitle{
    font-size: 25px;
    margin-left: 85px;
    margin-top: 27px;
    margin-bottom: 30px;
}