.sideColumn{
    padding-top: 50px;
    padding-bottom: 50px;
}
option {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 170px;
    border-radius: 0px;
}
.helpCategory{
    font-size: 18px;
    background-color: #353935;
    color: #F28C28;
    width:240px ;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 40px;
}
.sideBar{
    background-color:#F28C28;
    width: 240px;
    font-size: 15px;
    margin-bottom: 40px;
    margin-left: 85px;
    margin-top: 80px;
}
.searchQn{
    padding-left: 20px;
    margin-top: 50px;
    width: 600px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    margin-right: 455px;
}
.searchQnIcon{
    position: absolute;
    top: 50px;
    left: 573px;
    background-color: rgba(167, 110, 70);
    padding: 12px;
    padding-left: 40px;
    padding-right:40px;
    border-radius: 0px 7px 7px 0px;
}
.categoryColumn
{
    background-color:#F28C28;
    border-radius: 7px;
    height: 135px;
    margin-bottom: 30px;
    padding: 20px;
}
.categoryColumn h6{
    margin-left: 10px;
}
.categoryList{
    display: flex;
    flex-wrap: wrap;
}
.categoryRow{
    gap: 40px;
}
.helpBox{
    padding-left:90px;
    margin-top: 80px;
    margin-right: 70px;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.helpTitle{
    height: 40px;
    margin-bottom: 20px;
}
.helpDivider{
    background-color: black;
    height: 20px;
    width: 1px;
    margin-left: 7px;
    margin-right:7px ;
    position: relative;
    top: 2px;
}
.categoryList div{
    cursor: pointer;
}
.footer{
    margin-top: 140px;
}
.questions{
    background-color: #F9CDA0;
    margin-left: 50px;
    margin-top: 130px;
    margin-right: 60px;
    padding-bottom: 50px;
    border-radius: 7px;
}
.sidebarOption div{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 15px;
    background-color: #F6B370;
    padding-left: 10px;
    cursor: pointer;
}
.sidebarOption div:hover{
    background-color: #353935;
    color: white;
}
.sidebarOption div:first-child{
    margin-top: 10px;
}
.sidebarOptions{
    padding: 12px;
  
}
.sideBarDropDown{
    margin-bottom: 25px;
}
body{ 
    background-color: #ededed;
}
