.navbar {
  background-color:#F28C28;
  height: 63px;
  padding-left: 90px;
  padding-right: 75px;
  font-size: 14px;
}
.navbar a {
  color: #353935;
  font-weight: 700;
}
.logo {
  width: 120px;
  height: 45px;
}
.navHeroContent {
  width: 210px;
  color:#353935;
}
.navbarTop {
  font-size: 14px;
  background-color:#F28C28;
  padding-right: 95px;
  padding-left: 94px;
  padding-top: 8px;
  font-weight: 500;
  color: #353935;
}
.navbarTopContent {
  width: 400px;
}
.navbarTopContent a {
  color: #353935;
  font-weight: 500;
}
.searchIcon {
  position: relative;
  left: 93%;
  top: 33%;
}
.searchForItem {
  padding-left: 20px;
  margin-top: 7px;
  width: 600px;
  border-radius: 32px;
  height: 40px;
  background-color: white;
}
.divider {
  border: 1px solid black;
  height: 25px;
  margin-right: 20px;
  margin-left: 20px;
}
.cartIcon {
  margin-right: 20px;
}
.searchBar {
  margin-right: 65px;
}
