.productCard{
    width: 220px;
    height: 250px;
    padding: 10px;
    font-size: 13px;
    background-color: #f8f8f8;
    margin: 12px;
}
.productCard:hover{
    scale: 1.1;
    cursor: pointer;
}
.productContent img{
    width: 190px;
    height: 140px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.productBox{
    width: 1055px;
    float: right;
    padding-left: 20px;
    margin-left: auto;
    padding-top: 15px;
}
.productTitleName{
    font-size: 14px;
}